body, p, h1, h2, h3, h4, h5, h6{
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
text-decoration: none;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
@import url(https://fonts.google.com/specimen/Roboto);

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
} 
.movie_list{
    padding: 100px 0; 
}
.movie_list__header{
    font-size: 50px;
    color: #252525;
    font-weight: 700;
    margin: 0 0 78px;
    text-align: center;
    
}
.container{
    max-width: 1030px;
    margin: 0 auto;
}
.movie_list__table{
    width: 100%;  
    border-collapse: collapse; 
    border-radius: 15px;
    overflow: hidden;
}
.movie_list__table th{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    background: #a3cc40;
    padding: 19px 0;
    
}
.movie_list__tbody{
    color: #ffffff;
    font-size: 22px;
    vertical-align: top;
    }
.time{
        text-align: center;
        padding: 3px 0;
       
      
    }
.tr_1 {
    background-color: rgb(55, 55, 55);
    left: 169px;
    top: 1726px;
    width: 1030px;
    height: 75px;
    z-index: 97;
    
    
  }
  .tr_2 {
    background-color: rgb(75, 77, 79);
    left: 169px;
    top: 1801px;
    width: 1030px;
    height: 75px;
    z-index: 96;
  }
  .tr_3 {
    background-color: rgb(55, 55, 55);
    left: 170px;
    top: 1876px;
    width: 1030px;
    height: 75px;
   
  }
  .tr_4 {
    background-color: rgb(75, 77, 79);
    left: 170px;
    top: 1951px;
    width: 1030px;
    height: 75px;
   
  }
  .movie_list__tbody a{
      text-decoration: none;
      color: white;
  }
  .container p{
        font-size: 14px;
        font-family: "Roboto";
        color: rgb(36, 36, 36);
        line-height: 1.2;
        text-align: center;
        margin-top: 38px;
  }
  .column-two{
text-align: left;

  }
  .column-three{
    text-align: left;
    width: 335px;
  }
  .movie-name{
    text-align: left;
    width: 335px;
    padding: 3px 0;
  }
  .genre{
    text-align: left;
    width: 335px;
    padding: 3px 0;
  }
  .movie_list__tbody svg{
    text-align: center;
    margin: 0 12px;

  }
  .movie_list__tbody > :nth-child(3n+3){
      background-color: #6c6c6c; 
  }
  .movie_list__table a{
      text-decoration: none;
      color: #ffffff
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    display: inline-block;
  }
  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    display: inline-block;
  }
