/*main.css Разбивка на секции*/
/*Сброс стилей "Reset" */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*Сброс стилей*/

/*Шрифты*/
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
    url("/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-MediumItalic.woff") format("woff"),
    url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("/fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Italic.woff") format("woff"),
    url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Medium.woff") format("woff"),
    url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url("/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-BoldItalic.woff") format("woff"),
    url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
    url("/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-ThinItalic.woff") format("woff"),
    url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"),
    url("/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Black.woff") format("woff"),
    url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"),
    url("/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Light.woff") format("woff"),
    url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-LightItalic.woff") format("woff"),
    url("/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"),
    url("/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-BlackItalic.woff") format("woff"),
    url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roboto-Thin.woff") format("woff"),
    url("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/*Шрифты^*/

/*Общие стили*/
h1 {
  font-size: 4rem;
  font-weight: 100;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 900;
}

p {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.22;
}

a {
  text-decoration: none;
}

body,
html {
  font-family: "Roboto";
}

html {
  box-sizing: border-box;
  font-size: 1.45vw;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

form {
  width: 400px;
}

input,
textarea,
select {
  font-size: 19px;
  color: #6c6c6c;
  padding: 15px 11px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  width: 100%;
  outline: 0;
  transition: 0.2s;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/down-arrow.svg) 96% center / 5% no-repeat #fff;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 16px;
  padding-left: 23px;
  position: relative;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid #000;
}

input[type="radio"] + label::before {
  border-radius: 100%;
}

input[type="textarea"] {
  height: 250px;
  resize: none;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  z-index: 1;
  box-shadow: none;
  border: 0;
}

input[type="file"] + label {
  font-size: 18px;
  color: #90d23d;
  position: relative;
  border: 1px solid #90d23d;
  padding: 15px;
  z-index: 2;
  background: #fff;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 5px;
}

input[type="button"],
button {
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/*Общие стили^*/
.main-container {
  max-width: 68rem;
  margin: 0 auto;
}

.block-1 {
  background: url(../images/top_bg.jpg) no-repeat center;
  background-size: auto 100%;
  height: 39rem;
  position: relative;
  overflow: hidden;
  width: 68rem;
  margin: 0 auto;
}

.header-wrap {
  max-width: 51.5rem;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding: 2.9rem 0 0px 0px;
  margin-bottom: 8.8rem;
}

.block-1__background {
  background: #6c6c6c;
}

.main-logo {
  float: left;
  position: absolute;
  left: 8rem;
  top: 2.6rem;
}
.main-logo img {
  width: 9.35rem;
}
.main-nav {
  margin-bottom: 0.1rem;
}

.main-nav__list {
  text-align: right;
  margin: 0.5rem 0px 0px 0px;
  text-transform: uppercase;
}

.main-nav__list li {
  display: inline-block;
  margin-left: 1.9rem;
  letter-spacing: -0.5px;
}

.main-nav__list a {
  color: #fff;
  font-weight: 100;
  font-size: 0.8rem;
}

.main-nav__list a:hover {
  color: #90d23d;
  border-bottom: 0.1rem solid white;
  cursor: crosshair;
}

.description {
  max-width: 51.5rem;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

.descriptoin__headline {
  font-weight: 100;
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 0.3px;
  margin-bottom: 0.55rem;
  margin-left: 0.3rem;
}

.descriptoin__text {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0.3px;
  margin-left: 0.25rem;
}

.block-1::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 10rem;
  transform: rotate(-5deg);
  background: #fff;
  bottom: -6.2rem;
  left: 0;
}

.advan-container {
  width: 51.5rem;
  margin: 0 auto;
}

.advan-container__col1 {
  width: 33.33%;
}

.advan-container__image-wrap img:hover {
  transform: scale(1.07);
}

.advan-container__image-wrap {
  height: 10.55rem;
}

.advan-container__image-wrap {
  position: relative;
  margin-bottom: 2.25rem;
}

.advan-container__image-wrap img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
}

.advan-container__col1 h3 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.advan-container__col1 p {
  text-align: center;
}

.advan-container__img1 {
  margin: 0.25rem 0 0 2.75rem;
}

.advan-container__img2 {
  margin: 0px 0 0 4.35rem;
}

.advan-container__img3 {
  margin: 1.55rem 0 0 4, 8rem;
}

.advan-container__text1 h3 {
  margin-left: 0.4rem;
  text-align: center;
}

.advan-container__text2 h3 {
  text-align: center;
  margin-left: -1px;
}

.advan-container__text3 h3 {
  text-align: center;
  margin-right: 0.5rem;
}

.advan-container__text1 p {
  margin: 0 2.4rem 0 0px;
  font-size: 0.7rem;
  font-weight: 300;
}

.advan-container__text2 p {
  margin: 0 1.1rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.advan-container__text3 p {
  margin: 0 0px 0 3.5rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.advan-info {
  width: 26rem;
  height: 13.4rem;
  padding: 2rem 1.4rem;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
  position: absolute;
  top: -6.8rem;
  right: -0.3rem;
  z-index: 1;
}

.advan-info__wrap {
  width: 51.5rem;
  margin: 0 auto;
  position: relative;
}

.advan-container__logo h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 6.15rem;
  margin-left: 0.1rem;
}

.advan-pluses {
  padding-top: 3.7rem;
}

.advantages {
  margin-bottom: 6.5rem;
  width: 68rem;
}

.advan-container__row {
  margin-bottom: 1.6rem;
  display: flex;
}

.movie_list {
  margin-bottom: 5, 5rem;
  width: 68rem;
  margin: 0 auto;
}

.movie_list__header {
  font-size: 2.5rem;
  color: #252525;
  font-weight: 700;
  margin: 0 0 4.2rem;
  text-align: center;
}

.container {
  max-width: 51.5rem;
  margin: 0 auto;
}

.movie_list__table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.75rem;
  overflow: hidden;
}

.movie_list__table th {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  background: #a3cc40;
  padding: 0.95rem 0;
}

.movie_list__table tr:first-of-type {
  height: 3.75rem;
}

.advan-info__head {
  font-weight: 700;
  font-size: 2rem;
  margin: -0.2rem 0rem 1.65rem 0.3rem;
}

.advan-info__text {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 1.22;
  margin: 0px 1.25rem 0px 0.15rem;
}

.movie_list__tbody {
  color: #ffffff;
  font-size: 1.1rem;
  vertical-align: top;
}

.time {
  text-align: center;
  padding: 0.15rem 0;
}

.tr_1 {
  background-color: rgb(55, 55, 55);
  left: 8.45rem;
  top: 86.3rem;
  width: 51.5rem;
  height: 3.75rem;
}

.tr_2 {
  background-color: rgb(75, 77, 79);
  left: 8.45rem;
  top: 90.05rem;
  width: 51.5rem;
  height: 3.75rem;
}

.tr_3 {
  background-color: rgb(55, 55, 55);
  left: 8.5rem;
  top: 93.8rem;
  width: 51.5rem;
  height: 3.9rem;
}

.tr_4 {
  background-color: rgb(75, 77, 79);
  left: 8.5rem;
  top: 97.55rem;
  width: 51.5rem;
  height: 3.75rem;
}

.movie_list__tbody a {
  text-decoration: none;
  color: white;
}

.container p {
  font-size: 0.7rem;
  font-family: "Roboto";
  color: rgb(36, 36, 36);
  line-height: 1.2;
  text-align: center;
  margin-top: 1.9rem;
  font-weight: 300;
  margin-bottom: 5.8rem;
}

.column-two {
  text-align: left;
}

.column-three {
  text-align: left;
  width: 16.75rem;
}

.movie-name {
  text-align: left;
  width: 16.75;
  padding: 0.15rem 0;
}

.genre {
  text-align: left;
  width: 16.75rem;
  padding: 0.15rem 0;
}

.movie_list__tbody svg {
  text-align: center;
  margin: 0 0.6rem;
}

.movie_list__tbody > :nth-child(3n + 3) {
  background-color: #6c6c6c;
}

.movie_list__table a {
  text-decoration: none;
  color: #ffffff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-top: 0.75rem solid #fff;
  display: inline-block;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #fff;
  display: inline-block;
}

.block-3 {
  background: url(../images/b4_bg.jpg) no-repeat center;
  height: 38rem;
  position: relative;
  background-size: auto 100%;
  padding-top: 9.05rem;
  overflow: hidden;
  margin-bottom: 3.4rem;
  width: 68rem;
}

.block-3::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 8.05rem;
  transform: rotate(-5deg);
  background: #fff;
  top: -3.55rem;
  left: -1.15rem;
}

.gift-img {
  position: relative;
}

.block-3__img img {
  position: absolute;
  left: 8.05rem;
  top: -1.35rem;
  z-index: 1;
  height: 18rem;
}

.block-3__text {
  width: 51.51rem;
  text-align: right;
  margin: 0 auto;
  color: #fff;
}

.block-3__text h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

.block-3__text ol {
  font-size: 0.7rem;
  font-weight: 300;
  margin: 2.9rem 0 0 19rem;
  line-height: 0.75rem;
}

.gift-button {
  background-color: #90d23d;
  margin: 0 auto;
  width: 11rem;
  height: 2.75rem;
  border-radius: 0.75rem;
  border: none;
  position: absolute;
  right: 7.85rem;
  bottom: 9.7rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #fff;
}

.block-3::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 8.05rem;
  transform: rotate(-5deg);
  background: #fff;
  bottom: -3.65rem;
  left: -1.15rem;
}

.container__block-4 {
  width: 68rem;
}

.block-4 {
  width: 49rem;
  margin: 0px auto 3.25rem;
}

.block-4__text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.block-4__text p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 4.36rem;
}

.block-4__movies {
  float: left;
  position: relative;
}

.block-4__movies_description {
  background: rgba(144, 210, 61, 0.8);
  border-radius: 0.7rem;

  padding: 1.15rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: 0.2s;
}
.block-4__poster img {
  height: 15rem;
}
.block-4__movies-item:hover .block-4__movies_description {
  bottom: 0px;
}

.block-4__movies_wrap {
  overflow: hidden;
}

.block-4__movies_main-text {
  font-size: 1.75rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 0.5rem;
}

.block-4__movies_hr {
  width: 4rem;
  height: 0.4rem;
  background: #fff;
  border: 0;
  box-shadow: none;
  margin: 0 0 0.7rem;
}

.block-4__movies_plain-text {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 500;
  flex: 1;
}

.block-4__movies_description svg {
  margin: 0px -0.9rem --0.9rem 0.35rem;
}

/*Перевод на гриды*/
.block-4__movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.block-4__movies-inner {
  position: relative;
  overflow: hidden;
}

.block-4__movies-item {
  margin: auto;
}

.block-4__movies_description {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  bottom: -100%;
}

.foot-bottom {
  background: #90d23d;
  width: 100%;
  height: auto;
  margin-top: -0.15rem;
  text-align: center;
  padding-bottom: 2.1rem;
}
.foot-container {
  width: 68rem;
}
.foot-bottom p {
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
}

.foot-bottom__svg {
  padding-top: 3rem;
  margin-bottom: 1.2rem;
}
.foot-bottom__svg svg {
  margin: 0 0.15rem;
}
.video {
  position: relative;
  padding-top: 56.25%;
  width: 50.65rem;
  margin: auto;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
form {
  font-size: 1rem;
  margin: 0 auto;
}
