/* УРОК 2.7
 селекторы тегa, класса, id
*/
.description {
    font-weight: 900;
    color: yellow;
}
.article{
    color: red;
}
#article-id{
    color: green;
}
/* два id не срабатывают
.two{
    text-transform: uppercase;
}*/

/* пробел это селектор потомков

.container blockquote{
    background: blue;
}
/*дочерний селестор обознач ">" срабатывает только в 
container */

.container > .first{
    background: blue;
}
/*сестринский селестор обознач "+" срабатывает только 
на след уровень и ещё тильда тоже "~"  */
p + blockquote 
{
    text-transform: uppercase;
}
h1, h2, h3{
    color: green;
}